<a href="https://colab.research.google.com/github/DamiSoh/Working_Out/blob/main/BikeSharingDemand_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [ ]:
%matplotlib inline
plt.style.use('ggplot')
mpl.rcParams['axes.unicode_minus'] = False
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv
Saving test.csv to test.csv

In [ ]:
train = pd.read_csv('train.csv', parse_dates= ['datetime'])
train.shape

(10886, 12)

In [ ]:
train.head()

             datetime  season  holiday  ...  casual  registered  count
0 2011-01-01 00:00:00       1        0  ...       3          13     16
1 2011-01-01 01:00:00       1        0  ...       8          32     40
2 2011-01-01 02:00:00       1        0  ...       5          27     32
3 2011-01-01 03:00:00       1        0  ...       3          10     13
4 2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [ ]:
test = pd.read_csv('test.csv', parse_dates = ['datetime'])
test.shape

(6493, 9)

In [ ]:
test.head()

             datetime  season  holiday  ...   atemp  humidity  windspeed
0 2011-01-20 00:00:00       1        0  ...  11.365        56    26.0027
1 2011-01-20 01:00:00       1        0  ...  13.635        56     0.0000
2 2011-01-20 02:00:00       1        0  ...  13.635        56     0.0000
3 2011-01-20 03:00:00       1        0  ...  12.880        56    11.0014
4 2011-01-20 04:00:00       1        0  ...  12.880        56    11.0014

[5 rows x 9 columns]

In [ ]:
train['year'] = train['datetime'].dt.year
train['month'] = train['datetime'].dt.month
train['hour'] = train['datetime'].dt.hour
train['dayofweek'] = train['datetime'].dt.dayofweek #mon = 0, sun = 6
train.head()

             datetime  season  holiday  ...  month  hour  dayofweek
0 2011-01-01 00:00:00       1        0  ...      1     0          5
1 2011-01-01 01:00:00       1        0  ...      1     1          5
2 2011-01-01 02:00:00       1        0  ...      1     2          5
3 2011-01-01 03:00:00       1        0  ...      1     3          5
4 2011-01-01 04:00:00       1        0  ...      1     4          5

[5 rows x 16 columns]

In [ ]:
test['year'] = test['datetime'].dt.year
test['month'] = test['datetime'].dt.month
test['hour'] = test['datetime'].dt.hour
test['dayofweek'] = test['datetime'].dt.dayofweek
test.head()

             datetime  season  holiday  ...  month  hour  dayofweek
0 2011-01-20 00:00:00       1        0  ...      1     0          3
1 2011-01-20 01:00:00       1        0  ...      1     1          3
2 2011-01-20 02:00:00       1        0  ...      1     2          3
3 2011-01-20 03:00:00       1        0  ...      1     3          3
4 2011-01-20 04:00:00       1        0  ...      1     4          3

[5 rows x 13 columns]

In [ ]:
rfModel_wind = RandomForestRegressor()
f_columns = ['season', 'weather', 'humidity', 'month', 'temp', 'year', 'hour', 'dayofweek', 'atemp']
X_train = train[f_columns]
y_r_label = train['registered']
y_c_label = train['casual']

print(X_train.shape)
print(y_r_label.shape)
print(y_c_label.shape)

print(X_train.head())
print(y_r_label.head())
print(y_c_label.head())

(10886, 9)
(10886,)
(10886,)
   season  weather  humidity  month  temp  year  hour  dayofweek   atemp
0       1        1        81      1  9.84  2011     0          5  14.395
1       1        1        80      1  9.02  2011     1          5  13.635
2       1        1        80      1  9.02  2011     2          5  13.635
3       1        1        75      1  9.84  2011     3          5  14.395
4       1        1        75      1  9.84  2011     4          5  14.395
0    13
1    32
2    27
3    10
4     1
Name: registered, dtype: int64
0    3
1    8
2    5
3    3
4    0
Name: casual, dtype: int64

In [ ]:
X_test = test[f_columns]
print(X_test.shape)
print(X_test.head())

(6493, 9)
   season  weather  humidity  month   temp  year  hour  dayofweek   atemp
0       1        1        56      1  10.66  2011     0          3  11.365
1       1        1        56      1  10.66  2011     1          3  13.635
2       1        1        56      1  10.66  2011     2          3  13.635
3       1        1        56      1  10.66  2011     3          3  12.880
4       1        1        56      1  10.66  2011     4          3  12.880

In [ ]:
rfModel = RandomForestRegressor()
rfModel.fit(X_train, y_r_label)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
testRegisteredValues = rfModel.predict(X_test)

In [ ]:
test['registered']  = testRegisteredValues
test['registered'].isnull().sum()

0

In [ ]:
rfModel.fit(X_train, y_c_label)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
testCasualValues = rfModel.predict(X_test)
test['casual'] = testCasualValues
test['casual'].isnull().sum()

0